.qwm .upload-yaml-button {
  outline: none;
  background-color: var(--color-grey-225-10-97);
  border: 1px solid var(--color-grey-225-10-75);
  border-radius: 4px;
  margin: 2px 32px 6px 12px;
  padding: 2px 6px 2px 6px;
  fill: var(--add-entry-fill-color);
}

.qwm .upload-yaml-button:hover {
  color: white;
  border: 1px solid white;
  background-color: var(--color-blue-205-100-50);
  fill: var(--add-entry-hover-fill-color);
}
