.qwm-extensible-btn,
.qwm-toolbar-btn {
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-family: Arial, serif;
  font-weight: bold;
  margin: 2px;
  padding: 8px;
  color: #636363;
}

.qwm-properties-btn {
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  border: solid;
  border-radius: 6px;
  font-size: 15px;
  font-family: Arial, serif;
  font-weight: bold;
  margin: 2px;
  padding: 8px;
  color: #636363;
}

.qwm-shortcuts {
  right: 0px;
  position: absolute;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-family: Arial, serif;
  font-weight: bold;
  margin: 2px;
  padding: 8px;
  color: #636363;
}

.qwm-shortcuts:hover {
  background-color: #f7f7f9;
}

.qwm-shortcuts:active {
  background-color: #e8e8e8;
}

.qwm-toolbar-btn:hover {
  background-color: #f7f7f9;
}

.qwm-toolbar-btn:active {
  background-color: #e8e8e8;
}

.qwm-toolbar-transformation-btn {
  background-color: transparent;
  border: none;
  border-radius: 6px;
}

.qwm-toolbar-transformation-btn:hover {
  background-color: #e8e8e8;
}

.qwm-toolbar-transformation-btn:active {
  background-color: #e8e8e8;
}

.qwm-toolbar-splitter {
  margin: 5px;
  border: 1px solid #cccccc;
  max-height: 100%;
}

.qwm-toolbar {
  background: #ffffff;
  display: flex;
  overflow: auto;
}

.qwm-extensible-btn {
  background-color: #e8e8e8;
}

.qwm-extensible-buttons-list {
  background: #ffffff;
  position: absolute;
  display: flex;
  padding: 4px;
  border: 2px solid #e8e8e8;
  border-radius: 6px;
  z-index: 9999;
  overflow: auto;
}

.qwm-icon-saving:before {
  content: "";
  width: 15px;
  height: 15px;
  background-size: contain;
  background-image: url("../icons/save-outline-icon.png");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin-top: 3px;
}

.qwm-icon-open-file:before {
  content: "";
  width: 20px;
  height: 15px;
  background-size: contain;
  background-image: url("../icons/open-folder-outline-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin-top: 5px;
}

.qwm-icon-new-file:before {
  content: "";
  width: 20px;
  height: 15px;
  background-size: contain;
  background-image: url("../icons/blank-file-outline-icon.png");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin-top: 3px;
}

.qwm-icon-shortcut:before {
  content: "";
  width: 15px;
  height: 20px;
  margin-top: 3px;
  background-size: contain;
  background-image: url("../icons/shortcut.png");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
}

.qwm-toolbar-transformation-edit-icon {
  border-color: #cccccc;
  content: "";
  width: 17px;
  height: 17px;
  background-size: contain;
  background-image: url("../icons/wrench-icon-outline.svg");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin-left: 3px;
  margin-top: 2px;
}

.qwm-workflow-deployment-btn:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-size: contain;
  background: url("../icons/workflow-deployment-icon.png") no-repeat center
    center;
  float: left;
}

.qwm-workflow-transformation-btn:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-size: contain;
  background: url("../icons/worklow-transformation-icon.png") no-repeat center
    center;
  float: left;
}

.qwm-popup-menu-more-options:after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("../icons/line-angle-right-icon.svg");
  width: 16px;
  height: 16px;
  float: left;
  margin-left: 6px;
  margin-top: 2px;
}

.qwm-popup-menu-less-options:before {
  content: "";
  width: 23px;
  height: 15px;
  background-size: contain;
  background-image: url("../icons/line-angle-left-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin-top: 2px;
}

.qwm-tmp {
  background: url("../icons/save-outline-icon.png") no-repeat center center;
}

#editor {
  position: absolute;
  width: 100%;
  height: 20px;
  overflow-y: auto;
}

.ace_print-margin {
  display: none;
}

.qwm-icon-upload:before {
  content: "";
  width: 15px;
  height: 18px;
  margin-top: 0px;
  background-size: contain;
  background-image: url("../icons/upload-icon.png");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
}

.qwm-icon-xml-viewer:before {
  content: "";
  width: 20px;
  height: 18px;
  margin-top: 0px;
  background-size: contain;
  background-image: url("../icons/xml-viewer-icon.png");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
}

.ace_scrollbar.ace_scrollbar-h {
  display: none;
}

.qwm-icon-save-as:before {
  content: "";
  width: 20px;
  height: 15px;
  background-size: contain;
  background-image: url("../icons/save-as-icon.png");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin-top: 3px;
}

nav {
  margin: 0 auto;
}

.menu > li,
.menu > a {
  display: inline-block;
}

.menu li {
  position: relative;
  margin: 0;
}

.menu a {
  text-decoration: none;
  display: block;
  padding: 3px 0.5rem;
  transition: background-color 0.22s ease, color 0.22s ease;
  font-family: Arial, serif;
  font-size: 15px;
  color: #636363;
}

.menu a:hover {
  background-color: #e8e8e8;
}

.menu {
  padding-left: 0;
  height: 1vh;
  padding-top: 0;
  margin-top: -3px;
  border: 1px;
}

.header {
  padding-left: 0;
  padding-top: 0;
  height: 1vh;
  font-family: Arial, serif;
}

.submenu {
  position: absolute;
  background-color: white;
  width: 150px;
  left: 0;
  display: none;
  z-index: 100;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: Arial, serif;
  font-size: 15px;
  border: 1px solid #cccccc;
  margin-top: 2px;
}

.subsubmenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 100%;
  width: 140px;
  top: 0;
  background-color: white;
  display: none;
  z-index: 101;
  border: 1px solid #cccccc;
}

.menu li:hover > .submenu {
  display: block;
  animation: slideup 0.3s ease;
}

.menu li:hover > .subsubmenu {
  display: block;
  animation: slideleft 0.3s ease;
}

.subsubmenu-parent i {
  position: absolute;
  right: 5px;
}

@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(18px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(18px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
