.extensible-btn, .toolbar-btn {
    background-color: transparent;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-family: Arial, serif;
    font-weight: bold;
    margin: 2px;
    padding: 8px;
    color: #636363;
}

.toolbar-btn:hover {
    background-color: #f7f7f9;
}

.toolbar-btn:active {
    background-color: #e8e8e8;
}

.toolbar-transformation-btn {
    background-color: transparent;
    border: none;
    border-radius: 6px;
}

.toolbar-transformation-btn:hover {
    background-color: #e8e8e8;
}

.toolbar-transformation-btn:active {
    background-color: #e8e8e8;
}

.toolbar-splitter {
    margin: 5px;
    border: 1px solid #cccccc;
    max-height: 100%;
}

.toolbar {
    background: #ffffff;
    display: flex;
    /*align-items: flex-start;*/
    overflow: auto;
}

.extensible-btn {
    background-color: #e8e8e8;
}

.extensible-buttons-list {
    background: #ffffff;
    position: absolute;
    display: flex;
    padding: 4px;
    border: 2px solid #e8e8e8;
    border-radius: 6px;
    z-index: 9999;
    overflow: auto;
}

.icon-saving:before {
    content: "";
    width: 15px;
    height: 15px;
    background-size: contain;
    background-image: url("../icons/save-outline-icon.png");
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
}

.icon-open-file:before {
    content: "";
    width: 20px;
    height: 15px;
    background-size: contain;
    background-image: url("../icons/open-folder-outline-icon.svg");
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
}

.icon-new-file:before {
    content: "";
    width: 15px;
    height: 15px;
    background-size: contain;
    background-image: url("../icons/blank-file-outline-icon.png");
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
}


.toolbar-transformation-edit-icon {
    border-color: #cccccc;
    content: "";
    width: 15px;
    height: 15px;
    background-size: contain;
    background-image: url("../icons/wrench-tool-icon.svg");
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    margin-left: 3px;
    margin-top: 2px;
}

.workflow-deployment-btn:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-size: contain;
    background: url("../icons/workflow-deployment-icon.png") no-repeat center center;
    float: left;
}

.workflow-transformation-btn:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-size: contain;
    background: url("../icons/worklow-transformation-icon.png") no-repeat center center;
    float: left;
}

.popup-menu-more-options:after {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url("../icons/line-angle-right-icon.svg");
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 6px;
    margin-top: 2px;
}

.popup-menu-less-options:before {
    content: "";
    width: 23px;
    height: 15px;
    background-size: contain;
    background-image: url("../icons/line-angle-left-icon.svg");
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    margin-top: 2px;
}

.tmp {
    background: url("../icons/save-outline-icon.png") no-repeat center center;
}