.qwm-planqk-icon-service-task-palette:before {
  content: "";
  width: 10px;
  height: 10px;
  background-size: contain;
  background-image: url("../icons/service-task-palette-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 10px;
  padding: 11px 8px 11px 10px;
  outline: none;
}

.qwm-planqk-icon-service-task-palette:hover {
  filter: invert(0.5) sepia(1) hue-rotate(165deg) saturate(4) brightness(1);
}

.qwm-planqk-icon-service-task:before {
  content: "";
  width: 5px;
  height: 5px;
  background-size: contain;
  background-image: url("../icons/service-task-palette-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  outline: none;
}

.qwm-planqk-icon-data-pool-palette:before {
  content: "";
  width: 10px;
  height: 10px;
  background-size: contain;
  background-image: url("../icons/data-pool-palette-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 5px;
  padding: 11px 8px 11px 10px;
}

.qwm-planqk-icon-data-pool-palette:hover {
  filter: invert(0.5) sepia(1) hue-rotate(165deg) saturate(4) brightness(1);
}

.qwm-planqk-logo:before {
  content: "";
  display: block;
  background: url("../icons/planqk-icon.png") no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 6px 0 0;
}

.qwm-planqk-icon-data-pool:before {
  content: "";
  width: 3px;
  height: 3px;
  background-size: contain;
  background-image: url("../icons/data-pool-palette-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
}
