.profile-image.large {
    width: 40px;
    height: 40px;
}

.profile-image.small {
    flex-shrink: 0;
    display: none;
    width: 20px;
    height: 20px;
}

.card,
.info {
    flex: 1 1 auto;
}

// arrow between image and header
.info:before {
    content: "";
    background-color: #f7f7f7;
    border-top: 1px solid $border-grey;
    border-left: 1px solid $border-grey;
    display: block;
    height: 15px;
    width: 15px;
    position: absolute;
    left: -8px;
    top: 13px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}


@media only screen and (max-width: 860px) {
    .info:before,
    .profile-image.large {
        display: none;
    }
    .profile-image.small {
        display: flex;
    }
}