/*  PlanQK variables */

// define new color for existing color variant
$danger: $planqk-red;
$success: $planqk-green;

// define new color variant
$theme-colors: (
        "planqk": $planqk-blue,
        "primary": $planqk-blue,
        "add": $planqk-green,
        "save": $planqk-green,
        "cancel": $planqk-cancel,
);

/* override Bootstrap variables */

// Body
$body-color: $planqk-grey;


// Links
$link-color: $planqk-blue;
$link-hover-decoration: none;


// Buttons
$btn-padding-y: .4em;
$btn-padding-x: 1em;
$btn-font-size: 0.875em;
$btn-font-weight: 600;
$btn-border-radius: .5em;
$btn-border-radius-sm: 0.2em;
$btn-border-width: 2px;
$btn-focus-width: 0;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;


// Transitions
$transition-normal: all 400ms;

// Typography
$h1-font-size: 1.75em;
$h2-font-size: 1.6em;
$h3-font-size: 1.5em;
$h4-font-size: 1.25em;

    // Components
$border-color: $border-grey;
$hr-border-color: $border-grey;


// Forms
$input-padding-y: .4rem;
$input-padding-x: .4rem;
$input-color: $body-color;
$input-border-color: $border-grey;
$input-box-shadow: none;
$input-placeholder-color: $planqk-placeholder;
$input-plaintext-color: $body-color;


// Navs
$navbar-light-color: $planqk-white;
$navbar-light-hover-color: $planqk-white;
$navbar-light-active-color: $planqk-white;
$navbar-toggler-border-radius: 0.5rem;
$navbar-light-toggler-border-color: rgba(255, 255, 255, 0.7);
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

// Badges
$badge-padding-y: .75em;
$badge-padding-x: .75em;
$badge-font-size: 1rem;
$badge-font-weight: normal;
$badge-pill-border-radius: 5em;
$badge-pill-padding-x: 0.75em;

// Cards
$card-border-color: $border-grey;
$card-spacer-x: .75rem;

// Progress bars
$progress-bar-bg: theme-color("planqk");


// Breadcrumbs
$breadcrumb-margin-bottom: 0;
$breadcrumb-bg: $planqk-white;
$breadcrumb-border-radius: 0;


// Code
$code-color: $planqk-blue;

/* Breakpoints */
$media-direction: min; // min / max - default is min (mobile first)
$breakpoints: (
        "xs": 320px,
        "s": 414px,
        "m": 768px,
        "l": 960px,
        "xl": 1120px,
);

@mixin breakpoint($breakpoint, $direction: $media-direction) {
    @if map-has-key($breakpoints, $breakpoint) { // check if breakpoint is in map
        @media (#{$direction}-width: #{map-get($breakpoints, $breakpoint)}) {
            @content
        }
    } @else if unitless($breakpoint) {
        $breakpoint: $breakpoint + 0px;
        @media (#{$direction}-width: breakpoint) {
            @content
        }
    }
}