.dataflow-transformation-task-icon:before {
  content: "";
  width: 5px;
  height: 5px;
  background-size: contain;
  background-image: url("../resources/icons/change-exchange-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin: 0 6px 0 0;
}

.dataflow-transformation-task-icon:hover {
  filter: invert(0.5) sepia(1) hue-rotate(165deg) saturate(4) brightness(1);
}

.dataflow-data-store-map-icon:before {
  content: "";
  width: 30px;
  height: 30px;
  background-size: contain;
  background-image: url("../resources/icons/data-store-map-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin: 0 6px 0 0;
}

.dataflow-data-store-map-icon:hover {
  filter: invert(0.5) sepia(1) hue-rotate(165deg) saturate(4) brightness(1);
}

.dataflow-data-map-object-icon:before {
  content: "";
  width: 10px;
  height: 10px;
  background-size: contain;
  background-image: url("../resources/icons/data-map-object-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.dataflow-data-map-object-menu-icon:before {
  content: "";
  width: 10px;
  height: 10px;
  background-size: contain;
  background-image: url("../resources/icons/data-map-object-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.dataflow-data-map-object-icon:hover {
  filter: invert(0.5) sepia(1) hue-rotate(165deg) saturate(4) brightness(1);
}

.dataflow-transformation-task-palette-icon {
  content: "";
  width: 12px;
  height: 12px;
  background-size: contain;
  background-image: url("../resources/icons/transformation-task.svg");
  background-repeat: no-repeat;
  display: inline-block;
  transform: scale(0.6);
}

.dataflow-transformation-task-palette-icon:hover {
  filter: invert(0.5) sepia(1) hue-rotate(165deg) saturate(4) brightness(1);
}

.dataflow-data-store-map-task-palette-icon {
  content: "";
  background-size: contain;
  background-image: url("../resources/icons/data-store-map-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  transform: scale(0.6);
}

.dataflow-data-store-map-task-palette-icon:hover {
  filter: invert(0.5) sepia(1) hue-rotate(165deg) saturate(4) brightness(1);
}

.dataflow-data-map-object-palette-icon {
  content: "";
  background-size: contain;
  background-image: url("../resources/icons/data-map-object-icon.svg");
  background-repeat: no-repeat;
  transform: scale(0.8);
}

.dataflow-data-map-object-palette-icon:hover {
  filter: invert(0.5) sepia(1) hue-rotate(165deg) saturate(4) brightness(1);
}

.dataflow-transformation-association-icon:before {
  content: "";
  width: 20px;
  height: 20px;
  background-size: contain;
  background-image: url("../resources/icons/transformation-association-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin: 0 6px 0 0;
}

.dataflow-data-association-icon:before {
  content: "";
  width: 20px;
  height: 20px;
  background-size: contain;
  background-image: url("../resources/icons/data-association.svg");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin: 0 6px 0 0;
}

.dataflow-plugin-icon:before {
  content: "";
  width: 15px;
  height: 15px;
  background-size: contain;
  background-image: url("./icons/structure-diagram-icon-or.svg");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin: 0 6px 0 0;
}

.dataflow-update-transformation-task-configs:before {
  content: "";
  width: 15px;
  height: 15px;
  background-size: contain;
  background-image: url("./icons/update-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin: 0 6px 0 0;
}

.dataflow-transformation-tasks-menu-icon:before {
  content: "";
  width: 5px;
  height: 5px;
  background-size: contain;
  background-image: url("../resources/icons/transformation-task.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.dataflow-transformation-task-menu-icon:before {
  content: "";
  width: 5px;
  height: 5px;
  background-size: contain;
  background-image: url("../resources/icons/change-exchange-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.dataflow-quantum-circuit-object-icon:before {
  content: "";
  width: 10px;
  height: 10px;
  background-size: contain;
  background-image: url("../resources/icons/quantum-circuit-object.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.dataflow-result-object-icon:before {
  content: "";
  width: 10px;
  height: 10px;
  background-size: contain;
  background-image: url("../resources/icons/result-object.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.dataflow-evaluation-result-object-icon:before {
  content: "";
  width: 10px;
  height: 10px;
  background-size: contain;
  background-image: url("../resources/icons/evaluation-result-object.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.dataflow-parametrization-object-icon:before {
  content: "";
  width: 10px;
  height: 10px;
  background-size: contain;
  background-image: url("../resources/icons/parametrization-object.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.dataflow-initial-state-object-icon:before {
  content: "";
  width: 10px;
  height: 10px;
  background-size: contain;
  background-image: url("../resources/icons/initial-state-object.svg");
  background-repeat: no-repeat;
  display: inline-block;
}
