<div style="display: flex; height: 100%">
  <div style="display: flex; flex-direction: column; height: 100%; width: 85%; flex: 1">
    <h1 style="margin: 10px">Angular BPMN Modeler</h1>
    <div id="angular-button-container" style="display: flex; flex-shrink: 0; height: 60px; background-color: lightgrey">
      <button class="my-button">Dummy</button>
      <button class="my-button">Save</button>
      <button class="my-button">Load</button>
    </div>
    <div style="height: 100%">
      <quantum-workflow style="height: 100%; width: 100%" name="Lorem ipsum"></quantum-workflow>
    </div>
    <div style="height: 80px; background-color: lightgrey"></div>
  </div>
  <hr/>
  <div style="background-color: lightgrey; width: 15%"></div>
</div>
