<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workflow Modeler</title>
</head>
<body>
<div style="height: 100vh;
  border: solid 3px #EEE;
  position: relative;">
    <quantum-workflow id="qflow"></quantum-workflow>
</div>
<!--<script src="./QuantumWorkflowModeler.js"></script>-->
<script>
    import './QuantumWorkflowModeler.js';
    import {dataPools, oauthInfo, subscriptions} from "./extensions/planqk/DummyData";

    console.log("fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff");

    const modelerComponent = document.get('qflow');
    modelerComponent.pluginConsifgs = [
        {
            name: 'planqk',
            config: {
                test: 'etst',
                subscriptions: subscriptions(),
                oauthInfoByAppMap: oauthInfo(),
                dataPools: dataPools(),
            }
        }
    ]
</script>
</body>
</html>