<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Web Component</title>
</head>
<body>
<!-- BPMN diagram container -->
<div id="canvas">div</div>
<p>Felix</p>
<quantum-workflow name="proof of concept"></quantum-workflow>
<!--<link rel="stylesheet" href="../node_modules/bpmn-js/dist/assets/diagram-js.css" />-->
<!--<link rel="stylesheet" href="../node_modules/bpmn-js/dist/assets/bpmn-font/css/bpmn.css" />-->

<script src="QuantumWorkflowModeler.js"></script>
</body>
</html>