.innerConfig {
    min-width: 100px;
    max-width: 100px;
    min-height: auto;
    height: auto;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    padding: 5px;
}

.innerConfig + .innerConfig {
    margin-top: 5px;
}

.indent {
    margin-left: 5px;
}

.btn-config:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-size: contain;
    background: url("../resources/icons/config-icon.png") no-repeat center center;
    float: left;
}

.btn-primary:focus {
    border: solid 1px var(--blue-darken-48);
    background-color: var(--blue-darken-55);
}

.spaceAbove {
    padding-top: 1em;
    margin-left: 10px;
}

ul {
    padding-left: 20px;
}

table {
    table-layout: fixed;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.tabButtonsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    min-width: 120px;
    max-height: 263px;
    direction: rtl;
}
