/* eslint-disable no-constant-condition */
// when the docker image is run, the defined environment variables will be inserted here and made available in a global variable
window.env = {
    "AUTOSAVE_INTERVAL": "${AUTOSAVE_INTERVAL}" !== "" ? "${AUTOSAVE_INTERVAL}" : undefined, 
    "AWS_RUNTIME_HANDLER_ENDPOINT": "${AWS_RUNTIME_HANDLER_ENDPOINT}" !== "" ? "${AWS_RUNTIME_HANDLER_ENDPOINT}" : undefined, 
    "CAMUNDA_ENDPOINT": "${CAMUNDA_ENDPOINT}" !== "" ? "${CAMUNDA_ENDPOINT}" : undefined, 
    "DATA_CONFIG": "${DATA_CONFIG}" !== "" ? "${DATA_CONFIG}" : undefined, 
    "DOWNLOAD_FILE_NAME": "${DOWNLOAD_FILE_NAME}" !== "" ? "${DOWNLOAD_FILE_NAME}" : undefined, 
    "ENABLE_DATA_FLOW_PLUGIN": "${ENABLE_DATA_FLOW_PLUGIN}" !== "" ? "${ENABLE_DATA_FLOW_PLUGIN}" : undefined, 
    "ENABLE_PATTERN_PLUGIN": "${ENABLE_PATTERN_PLUGIN}" !== "" ? "${ENABLE_PATTERN_PLUGIN}" : undefined, 
    "ENABLE_PLANQK_PLUGIN": "${ENABLE_PLANQK_PLUGIN}" !== "" ? "${ENABLE_PLANQK_PLUGIN}" : undefined, 
    "ENABLE_QHANA_PLUGIN": "${ENABLE_QHANA_PLUGIN}" !== "" ? "${ENABLE_QHANA_PLUGIN}" : undefined, 
    "ENABLE_QUANTME_PLUGIN": "${ENABLE_QUANTME_PLUGIN}" !== "" ? "${ENABLE_QUANTME_PLUGIN}" : undefined, 
    "ENABLE_OPENTOSCA_PLUGIN": "${ENABLE_OPENTOSCA_PLUGIN}" !== "" ? "${ENABLE_OPENTOSCA_PLUGIN}" : undefined, 
    "GITHUB_TOKEN": "${GITHUB_TOKEN}" !== "" ? "${GITHUB_TOKEN}" : undefined, 
    "OPENTOSCA_ENDPOINT": "${OPENTOSCA_ENDPOINT}" !== "" ? "${OPENTOSCA_ENDPOINT}" : undefined, 
    "NISQ_ANALYZER_ENDPOINT": "${NISQ_ANALYZER_ENDPOINT}" !== "" ? "${NISQ_ANALYZER_ENDPOINT}" : undefined, 
    "NISQ_ANALYZER_UI_ENDPOINT": "${NISQ_ANALYZER_UI_ENDPOINT}" !== "" ? "${NISQ_ANALYZER_UI_ENDPOINT}" : undefined
    "PATTERN_ATLAS_ENDPOINT": "${PATTERN_ATLAS_ENDPOINT}" !== "" ? "${PATTERN_ATLAS_ENDPOINT}" : undefined, 
    "PATTERN_ATLAS_UI_ENDPOINT": "${PATTERN_ATLAS_UI_ENDPOINT}" !== "" ? "${PATTERN_ATLAS_UI_ENDPOINT}" : undefined, 
    "PROVENANCE_COLLECTION": "${PROVENANCE_COLLECTION}" !== "" ? "${PROVENANCE_COLLECTION}" : undefined,
    "QC_ATLAS_ENDPOINT": "${QC_ATLAS_ENDPOINT}" !== "" ? "${QC_ATLAS_ENDPOINT}" : undefined 
    "QHANA_GET_PLUGIN_URL": "${QHANA_GET_PLUGIN_URL}" !== "" ? "${QHANA_GET_PLUGIN_URL}" : undefined, 
    "QHANA_LIST_PLUGINS_URL": "${QHANA_LIST_PLUGINS_URL}" !== "" ? "${QHANA_LIST_PLUGINS_URL}" : undefined, 
    "QISKIT_RUNTIME_HANDLER_ENDPOINT": "${QISKIT_RUNTIME_HANDLER_ENDPOINT}" !== "" ? "${QISKIT_RUNTIME_HANDLER_ENDPOINT}" : undefined, 
    "QRM_USERNAME": "${QRM_USERNAME}" !== "" ? "${QRM_USERNAME}" : undefined, 
    "QRM_REPONAME": "${QRM_REPONAME}" !== "" ? "${QRM_REPONAME}" : undefined, 
    "QRM_REPOPATH": "${QRM_REPOPATH}" !== "" ? "${QRM_REPOPATH}" : undefined, 
    "SERVICE_DATA_CONFIG": "${SERVICE_DATA_CONFIG}" !== "" ? "${SERVICE_DATA_CONFIG}" : undefined, 
    "SCRIPT_SPLITTER_ENDPOINT": "${SCRIPT_SPLITTER_ENDPOINT}" !== "" ? "${SCRIPT_SPLITTER_ENDPOINT}" : undefined, 
    "SCRIPT_SPLITTER_THRESHOLD": "${SCRIPT_SPLITTER_THRESHOLD}" !== "" ? "${SCRIPT_SPLITTER_THRESHOLD}" : undefined, 
    "TRANSFORMATION_FRAMEWORK_ENDPOINT": "${TRANSFORMATION_FRAMEWORK_ENDPOINT}" !== "" ? "${TRANSFORMATION_FRAMEWORK_ENDPOINT}" : undefined, 
    "UPLOAD_BRANCH_NAME": "${UPLOAD_BRANCH_NAME}" !== "" ? "${UPLOAD_BRANCH_NAME}" : undefined, 
    "UPLOAD_FILE_NAME": "${UPLOAD_FILE_NAME}" !== "" ? "${UPLOAD_FILE_NAME}" : undefined, 
    "UPLOAD_GITHUB_REPO": "${UPLOAD_GITHUB_REPO}" !== "" ? "${UPLOAD_GITHUB_REPO}" : undefined, 
    "UPLOAD_GITHUB_USER": "${UPLOAD_GITHUB_USER}" !== "" ? "${UPLOAD_GITHUB_USER}" : undefined, 
    "WINERY_ENDPOINT": "${WINERY_ENDPOINT}" !== "" ? "${WINERY_ENDPOINT}" : undefined, 
};
