@import url("~bpmn-font/dist/css/bpmn-embedded.css");

.qwm .pattern-logo:before {
  content: "";
  width: 15px;
  height: 15px;
  background-size: contain;
  background-image: url("../resources/pattern-icon.png");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
}

.actions-column {
  justify-content: space-between;
  align-items: center;
  max-width: 5%;
}

.qwm .error-message {
  color: red;
}

.qwm-select-column {
  width: 10%; /* Adjust the width as needed */
  text-align: center; /* Center content horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

.qwm-select-column input[type="checkbox"] {
  margin: 0;
}
.qwm-icon-column {
  width: 50%; /* Adjust the width as needed */
  align-items: center;
  justify-content: space-between;
}

.qwm td input[type="checkbox"] {
  float: left;
  margin: 0 auto;
  width: 100%;
}

.qwm td input[type="radio"] {
  float: left;
  margin: 0 auto;
  width: 100%;
}

.qwm td input[type="image"] {
  float: left;
  margin: 0 auto;
  width: 100%;
}

.pattern-links {
  color: blue;
  text-decoration: underline;
}

.qwm-action {
  min-width: 10px;
  height: 35px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.qwm-action-add {
  min-width: 10px;
  height: 35px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  right: 50px;
  top: 80px;
}

.qwm .open-pattern-selection:before {
  content: "";
  width: 15px;
  height: 15px;
  background-size: contain;
  background-image: url("../resources/select_icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
}
