.tab {
    flex: 1;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fdfdfe;
    margin: 1px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px var(--blue-darken-62);
    background-color: var(--blue-base-65);
}

.tab.active {
    background-color: var(--blue-darken-55);
}

.tab:hover {
    border: solid 1px var(--blue-darken-55);
    background-color: var(--blue-darken-62);
}

.tabButtonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    min-width: 120px;
    max-height: 263px;
    direction: ltr;
}


.wizard-button {
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    border: solid;
    border-radius: 6px;
    font-size: 15px;
    font-family: Arial, serif;
    font-weight: bold;
    color: #636363;
    padding: 3px 6px 2px;
    margin: 2px 32px 6px 12px;
}

.wizard-tab-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 3px 6px 2px;
    column-gap: 10px;
}

.dockerimage-input {
    flex-grow: 2;
}