@font-face {
  font-family: 'Planqk Icons';
  src:  url('fonts/icomoon.eot?jdcv7d');
  src:  url('fonts/icomoon.eot?jdcv7d#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?jdcv7d') format('truetype'),
  url('fonts/icomoon.woff?jdcv7d') format('woff'),
  url('fonts/icomoon.svg?jdcv7d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="planqk-icon-"], [class*=" planqk-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Planqk Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.planqk-icon-applications:before {
  content: "\e946";
}
.planqk-icon-implementation:before {
  content: "\ec63";
}
.planqk-icon-service-platform:before {
  content: "\ea51";
}
.planqk-icon-algorithm-classic:before {
  content: "\ea63";
}
.planqk-icon-algorithm-classic {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.planqk-icon-community:before {
  content: "\eba1";
}
.planqk-icon-services:before {
  content: "\ebde";
}
.planqk-icon-my-content:before {
  content: "\ebe0";
}
.planqk-icon-dashboard:before {
  content: "\ed02";
}
.planqk-icon-marketplace:before {
  content: "\ed1a";
}
.planqk-icon-jobs:before {
  content: "\e91c";
}
.planqk-icon-hardware-wires:before {
  content: "\e904";
}
.planqk-icon-datapool:before {
  content: "\e900";
}
.planqk-icon-algorithm:before {
  content: "\e901";
}
.planqk-icon-service-provider:before {
  content: "\e902";
}
.planqk-icon-qai-app:before {
  content: "\e903";
}
.planqk-icon-algorithm-hybrid:before {
  content: "\e905";
}
.planqk-icon-experts:before {
  content: "\e906";
}
.planqk-icon-angle-double-up:before {
  content: "\ed78";
}