# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package of Quantum Workflow Modeler

on:
  release:
    types: [created, edited]

jobs:
  tests:
    runs-on: ubuntu-latest

    workflow-test-engine:
      image: planqk/workflow-engine-test:latest
      ports:
        - 8090:8090

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: run tests
        run: |
          npm ci
          npm run build
          npm test
        working-directory: ./components/bpmn-q

  publish-gpr:
    needs: tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://npm.pkg.github.com/
          scope: '@planqk'
      - name: run build and publish
        run: |
          npm ci
          npm run build
          npm publish
        working-directory: ./components/bpmn-q
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
